.single-pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desc-table h1 {
  text-transform: uppercase;
}

table {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 10px;
  border-radius: 20px;
}

th {
  text-transform: uppercase;
}

td,
th {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
